body {
   
    line-height: 1.6;
    
    display: grid;
    grid-template: 
      "header header header header" 10em
      "hero hero hero hero" 50vh
      ". main sidebar ." auto
      "footer footer footer footer" 10em 
      / 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
    grid-column-gap: 7.5em;
  }
  .blog{
      background-color: silver;
  }

 
  
  
  
  .hero {
    grid-area: hero;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hero-title {
   
    margin: 0;
  }
  
  .hero-subtitle {
   
    margin: 0;
  }
  
  main {
    grid-area: main;
  }
  
  aside {
    grid-area: sidebar;
    background: rgb(115, 231, 165);
   padding: 10px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  

  
  footer {
    grid-area: footer;
  }
  
  
  // Cards
  
  .card {
    display: grid;
    grid-template:
      "img title" min-content
      "img content" auto / 1fr 3fr;
    grid-column-gap: 1.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .card-img {
    grid-area: img;
    max-width: 100%;
    height: 100%;
  }
  
  .card-title {
    grid-area: title;
    margin: 0;
    font-weight: 300;
  }
  
  .card-content {
    grid-area: content;
    
    a {
      font-size: 1.1em;
    }
  }

  .sub{
    margin: 5px;
  }


  @media (max-width :900px){
    
    aside{
      grid-template-columns: repeat(2, 1fr);
    }
  }